
*{
    box-sizing: border-box;
}

.main-container{
    text-align: center;
}

.select-element{
    width: 10%;
    padding: 5px;
    text-align:center;
}

.input{
    padding: 5px;
}

.add-button{
    width: 5%;
    padding: 6px;
    background-color:blue;
    color: white;
    font-weight: 600;
    border: none;
}

.list-item-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.label-container{
    width: 40%;
    border-left: 5px solid blue;
    border-bottom: 2px solid grey;
    background: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.icon{
    padding: 15px;
}

.remove-button{
    padding: 6px;
    background-color:rgb(255, 60, 0);
    color: white;
    font-weight: 600;
    border: none;
}


.checked{
    text-decoration: line-through;
    color: red;
}